# Strapi CMS (blog)
HOST=0.0.0.0
PORT=1337

APP_KEYS=changeMeKey1,changeMeKey2,changeMeKey3,changeMeKey4
API_TOKEN_SALT=changeMeApiTokenSalt
ADMIN_JWT_SECRET=changeMeAdminJwt
TRANSFER_TOKEN_SALT=changeMeTransferSalt
JWT_SECRET=changeMeJwtSecret
ENCRYPTION_KEY=changeMeEncryptionKey32chars!!

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=strapi
DATABASE_USERNAME=translator
DATABASE_PASSWORD=translator
DATABASE_SSL=false
